@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margin and padding for root and body */
html, body, #root {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important; /* Ensure it fills the viewport height */
    /* overflow: hidden; Prevent scrolling if not needed */
}
